
.artist-section {        
    & img {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        object-fit: cover;
    }
}

.artist-section__wrapper {
    position: relative;
    height: 100vh;
    background: $gray-9;
}

.artist-section__welcome {
    position: absolute;
    background-position: center;
    width: 100%;
    height: 100%;
    z-index: 10;
}

#velazquez .artist-section__welcome {
    background-image: url('../img/velazquez_black.min.svg');
}

#goya .artist-section__welcome {
    background-image: url('../img/goya_black.min.svg');
}

#picasso .artist-section__welcome {
    background-image: url('../img/picasso_black.min.svg');
}

#dali .artist-section__welcome {
    background-image: url('../img/dali_black.min.svg');
}

.artist-section__info {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: $margin-md;    
    padding: $padding-lg;
    background-color: $gray-9;
    color: $white;

    p:not(:first-of-type) {
        display: none;
    }

    @include media-breakpoint-medium {
        width: 50%;
        margin: $margin-lg;
        padding: $padding-xl;
    }
}

.artist-section__info-link {
    float: right;    
    position: relative;
    width: 20px;
    height: 20px;
    margin-left: $size-lg;

    line {
        stroke: $white;
        stroke-width: 2px;
    }
}


