#loading {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $gray-9;
    z-index: 20;    
}

#loading__progress {        
    font-family: 'Archivo';
    font-size: 3.75rem;
    color: $gray-0;
}