#loading {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: $gray-0;
    z-index: 20;

    & .loading__progress {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: right;
        background: $gray-9;

        & h1 {
            position: absolute;
            right: -210px;
            color: $gray-9;
        }
    }

    &.loading-label-animation h1{
        animation: loading-label-animation;
        animation-duration: 1s;
        animation-fill-mode: both;
    }
}

@keyframes loading-label-animation {
    from {
        color: $gray-9;
    }
    to {
        transform: translateX(-240px);
        color: $gray-0;
    }
}