#goya {
  background: #64472d;
}

#goya .artist-section__welcome {
  background-image: url('../img/goya_black.min.svg');
}

#goya-image-1 {
  background-image: url('../img/the-third-of-may-1808-sky.png');
}

#goya-image-2 {
  background-image: url('../img/the-third-of-may-1808-cathedral.png');
}

#goya-image-3 {
  background-image: url('../img/the-third-of-may-1808-medow.png');
}

#goya-image-4 {
  background-image: url('../img/the-third-of-may-1808-crowd.png');
}

#goya-image-5 {
  background-image: url('../img/the-third-of-may-1808-main-characters.png');
}