#picasso .artist-section__welcome {
  background-image: url('../img/picasso_black.min.svg');
}

#picasso-image-1 {
  background-image: url('../img/guernica-background.png');
}

#picasso-image-2 {
  background-image: url('../img/guernica-bull.png');
}

#picasso-image-3 {
  background-image: url('../img/guernica-horse-body.png');
}

#picasso-image-4 {
  background-image: url('../img/guernica-horse-head.png');
}

#picasso-image-5 {
  background-image: url('../img/guernica-arm.png');
}

#picasso-image-6 {
  background-image: url('../img/guernica-victim-1.png');
}

#picasso-image-7 {
  background-image: url('../img/guernica-victim-2.png');
}

#picasso-image-8 {
  background-image: url('../img/guernica-victim-3-body.png');
}

#picasso-image-9 {
  background-image: url('../img/guernica-victim-3-head.png');
}

#picasso-image-10 {
  background-image: url('../img/guernica-victim-4-arm.png');
}

#picasso-image-11 {
  background-image: url('../img/guernica-victim-4-head.png');
}