#velazquez .artist-section__welcome {
  background-image: url('../img/velazquez_black.min.svg');
}

#velazquez-image-1 {  
  background-image: url('../img/the-triumph-of-bacchus-background.png');
}

#velazquez-image-2 {
  background-image: url('../img/the-triumph-of-bacchus-main-character.png');
}

#velazquez-image-3 {
  background-image: url('../img/the-triumph-of-bacchus-man2.png');
}

#velazquez-image-4 {
  background-image: url('../img/the-triumph-of-bacchus-baccus-and-man.png');
}

#velazquez-image-5 {
  background-image: url('../img/the-triumph-of-bacchus-man1.png');
}

#velazquez-image-6 {
  background-image: url('../img/the-triumph-of-bacchus-tree.png');
}